@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
}

/* CSS file */

@keyframes initialZoomIn {
  0% {
    transform: scale(1.05); /* Start slightly zoomed in */
  }
  100% {
    transform: scale(1); /* End at normal size */
  }
}

.lazy-img {
  background: #f0f0f0; /* Placeholder color */
  filter: blur(10px);
  transition: filter 0.3s ease-out;
}

.lazy-img-loaded {
  filter: blur(0);
}
